<!DOCTYPE html>
<html ng-app="main">
<head>
	<meta charset="UTF-8">
    <!--自适应界面,如果出现,在某些设备出现界面偏小的话,检查一下有没有加入这句 -->
    <meta http-equiv="Content-type" name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="../lib/bootstrap.min.css" />
    <link rel="stylesheet" href="../lib/bootstrap-dialog.css" />
    <link rel="stylesheet" href="../css/main.css" />
	               
	<script type="text/javascript" src="../lib/angular.js"></script>
	<script type="text/javascript" src="../lib/angularjsLocalstorage.js"></script>
	<script type="text/javascript" src="../lib/jquery.js"></script>
	<script type="text/javascript" src="../lib/bootstrap.min.js"></script>
	<script type="text/javascript" src="../lib/bootstrap-dialog.js"></script>
	
	<script type="text/javascript" src="../js/commFunction.js" ></script>
	<script type="text/javascript" src="../js/loginController.js" ></script>
	
	
</head>	
<header>
<div id="backgroundImg"><img src="../fonts/backgrd.jpg" /></div> 
<div class="navbar-top navbar-fixed-top text-center"
	style="margin-top: 8px">
	<div class="pull-left" ng-controller="LoginCtrl">
			<a class="glyphicon glyphicon-chevron-left" ng-click="returnbackIndex2(back)" style="color:#FFF;margin: 12px 5px;font-size: 12px;text-align:center"></a>
	</div>
	<h4>研究生项目管理系统</h4>
</div>	
</header>
<body>   
	<div ng-controller="LoginCtrl" data-role="content" class="container">
		<div style="margin-top:100px;">
			<form name="frm" method="post">
   				
   				<div class="form-group" style="margin-left: 24%">
   					<div>
   					<span class="inputLeft">用户名：</span>
   					<input type="text" class="form-control" id="name" style="width: 75%;margin-top: 5px;"
   						ng-model="userInfo.userName" >
   					</div>
   					<div style="margin-top: 10px;">
   						<span class="inputLeft">密&nbsp;&nbsp;&nbsp;码：</span>
   						<input type="password" class="form-control" style="width: 75%;margin-top: 5px;" 
   						ng-model="userInfo.passWord" style="margin-top:10px;">
   					</div>
   					
   				</div>
   				<div style="margin-top: 20px;margin-left: 24%;">
   					<a class="btn btn-primary btn-block" style="width: 75%;background-color: #1E90EF;border-radius:8px; border-color: #66AFE9;" ng-bind-template="登录" ng-click="login(userInfo)"></a>
   				</div>
   				<div style="margin-top: 35%;margin-left: 5%;color:#D43F3A;font-weight: bolder;">
   					注：初始密码是8位出生年月日信息，如20160901
   				</div>
   				
   			</form>
		</div>
	</div>
	



</body>
</html>
